/* Navbar.css */

.navbar {
    background-color: #007bff; /* Warna biru untuk navbar */
    color: #fff;
    padding: 10px 0;
  }
  
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
  }
  
  .navbar-logo-link {
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-menu {
    list-style-type: none;
    display: flex;
  }
  
  .navbar-item {
    margin-right: 20px;
  }
  
  .navbar-link {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .navbar-link:hover {
    text-decoration: underline;
  }
  